.filter__widget select {
  padding: 8px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  /* background: var(--primary-color); */
  background-color: hsl(var(--accent) / 0.5) !important;

  /* color: #fff; */
}

.filter__widget select:focus {
  outline: none !important;
  border: none;
}

.filter__widget select option {
  border: none;

  font-size: 0.9rem;
}

.search__box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 15px;
  padding-right: 12px;
  border: none;
  background-color: hsl(var(--accent) / 0.5) !important;

  /* padding-left: 2px; */
}

.search__box input {
  width: 95%;
  border-radius: 9px;
  border: none;
  outline: none;
  padding: 8px 10px;
}

.search__box span {
  color: var(--primary-color);
}

@media only screen and (max-width: 768px) {
  .filter__widget {
    margin-bottom: 30px;
  }
  .filter__widget select {
    font-size: 0.9rem;
    padding: 7px 20px;
  }
}
