.footer {
  padding-top: 60px;

  padding-bottom: 30px;
  background-color: hsl(var(--accent) / 0.5);

  /* background: var(--primary-color); */
}

.footer__text {
  line-height: 30px;
  /* color: rgba(255, 255, 255, 0.735); */
  color: var(--_hue) 30% 99%;
  font-family: monospace;

  text-align: start;
}

.footer__quick-links ul li {
  background: transparent !important;
  color: var(--_hue) 30% 99%;
  font-style: none;
}

.footer__quick-links ul li a {
  /* color: rgba(255, 255, 255, 0.735); */
  color: var(--_hue) 30% 99%;
}

.quick__links-title {
  margin-bottom: 20px;
  /* color: #fff; */
  color: var(--_hue) 30% 99%;

  font-size: 1.1rem;
}

/* .footer__contact li p{
  color:var(--_hue) 30% 99%;

} */

.footer__contact li span,
.footer__contact li p {
  /* color: rgba(255, 255, 255, 0.735); */
  color: var(--_hue) 30% 99%;
}
.footer__contact li p {
  font-size: 0.9rem;
  color: var(--_hue) 30% 99%;
}

.footer__copyright {
  /* color: rgba(255, 255, 255, 0.735); */
  color: var(--_hue) 30% 99%;
  font-size: 0.9rem;
  margin-top: 50px;
  text-align: center;
}
.text-white {
  font-family: monospace;
  font-size: 30px !important;
}

/* //////////////////////////////// */

.list-group {
  text-align: start;
}
